%li
  .list-group
    .list-group-item
      = milestone.description
    .list-group-item
      = milestone.stoned_date
    .list-group-item
      = milestone.source_description
    .list-group-item
      = link_to milestone.source_url, milestone.source_url

