.row
  .col-md-5
    %h1 Company
    %p.lead
      = @company.name
  .col-md-4
    - if @company.images
      = image_tag @company.images[@company.images.size-1]
.row
  .col-md-6
    %dl
      %dt Overview
      %dd!= @company.overview

      %dt Curchbase Url
      %dd= link_to @company.name, @company.crunchbase_url
  .col-md-6
    %h3 People
    %ul.list-unstyled
      =render partial: 'person', collection: @company.people

