%h1 Base#home
%p Search
.row
  .span9
    = form_tag "/search", role: "form", class: "form-inline" do
      .form-group
        =label_tag :term, "Search Term"
        =text_field_tag :term
      =submit_tag "Search", class: "btn btn-default"

.row
  .span6
    -if @complist
      %h2 Companies
  .span6
    -if @prodlist
      %h2 Products
